{{ define "page" }}
{{ template "layout" . }}
{{ end }}

{{ define "title" }}
New Section
{{ end }}

{{ define "content" }}
<h1>New Section</h1>
{{ template "section-form-new" . }}

{{ template "image-upload-modal" . }}
{{ end }}

{{ define "submenu" }}
{{ template "menu" . }}
{{ end }}
